body{
    background-image: url("../img/Natural-Green-Outdoors-Simple-Background-Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

section{
    display: flex;
}

form{
    display: block;
    background-color: #fff;
    margin: auto;
    padding: 3rem;
    border-radius: 5px;
    width: 40vw;

}

input[type=text],
input[type=email],
input[type=password]{
    display: block;
    margin-top: 1.5rem;
    width: 100%;
    border: none;
    box-shadow: 0 10px 10px -5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4px;
    width: 100%;

}
