body{
    font-family: 'Lato', sans-serif;
    background-image: url("../img/Natural-Green-Outdoors-Simple-Background-Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

section{
    display: flex;
}

form{
    display: block;
    background-color: #fff;
    margin: auto;
    padding: 3rem;
    padding-right: 5rem;
    border-radius: 5px;
}

input[type=text],
input[type=email],
input[type=password],
textarea{
    display: block;
    margin-top: 1.5rem;
    width: 100%;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 4px;
    width: 120%;
}

.terms-cond{
    width: 100%;
}

input[type=submit]{
    width: 100%;
    border: 1px solid transparent;
    background-color: lightgreen;
    border-radius: 2px;
}


a:hover{
    text-decoration: none;
    color: lightgreen;
}
