html,body{
  font-family: 'Lato', sans-serif;
}

.thenav{
  padding: 1.5rem;
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
 z-index: 9999999999;
}

.navbar-light .navbar-nav .thenav-link{
  color: black;
}

.navbar-light .navbar-nav .thenav-link:hover{
  color: #00945e;
  font-weight: bolder;
}

.navbar-brand{
  font-size: 1.2rem;
  font-weight: 600;
}

img{
  max-width: 100%;
  height: auto;
}


.welcome{
  color: #00945e;
}

.headers::after,.modal-head:after{
  content: "";
  display:block;
  height: 4px;
  width: 50px;
  margin-top: 20px;
  background-color: #00945e;
}

.image-stage{
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin: 15px;
  border-radius: 2px;
}

.btn-modified{
    color: #fff;
    padding: 0.4rem 3rem;
    background: #00945E;
    border: none;
    border-radius: 0.3rem;
}

.jumbotron{
  background-image: url(../img/image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
 }

 .lead{
  width: 15rem;
  margin-top: 2%;
 }

 .jumbo-buttons{
  border: 2px solid white;
  background: inherit;
  padding: 0.4rem 3rem;
  margin-left: 5px;
  color:white;
 }

  .jumbo-buttons:hover{
    background-color: white;
    color: black;

  }

  .welcome-img{
    padding: 20px;
  }

#bubbles { height: 100%;
position: absolute;
    z-index: 9999999;
}
.bubble {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
  background: white;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 20%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 35%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 47%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 15%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 70%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}








/* contact section */
.contact-section{
  height: 300px;
  text-align: center;
  color: #323E48;
  background-color: #ffffff;
}
.contact-text{
  color: #00945e;
}
.contact-card{
  height: 200px;
  padding-top: 30px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  margin: 20px;
  border-radius: 5px;
  transition: all 500ms ease;
}
.contact-card:hover{
  transform: translateY(-30px);
  box-shadow: 0 10px 6px -6px #777;;
}

/* subscribe section */
.subscribe{
  background-color: #47977c;
  height: 200px;
  text-align: center;
  color: white;
}

.subscribe-text{
  margin-top: 50px;
}
.subscribe-form{
 margin-top: 50px;
}
.form-input{
  /* width: 400px; */
  width: 100%;
  height: 70px;
  border-radius: 3px;
  border: 1px solid black;
}
.form-button{
  height: 72px;
  width: 120px;
  margin-left: -20px;
  border-radius: 5px;
  color:#ffffff ;
  background-color:#00945e;
}
/* footer */
.full-footer{
  background-color: #323E48;
  color: #ffffff;
}
.aboutus-footer{
  /* display: flex; */
  text-align: center;
  margin-bottom: 30px;
}
.contactus-footer{
  text-align: center;
  margin-bottom: 30px;
}
.line{
  background-color: #ffffff;
  width: 200px;
}
