html,body{
  font-family: 'Lato', sans-serif;
}

.thenav{
  padding: 20px;

}

.navbar-light .navbar-nav .thenav-link{
  color: black;
}

.navbar-light .navbar-nav .thenav-link:hover{
  color: #00945e;
  font-weight: bolder;
}

.navbar-brand{
  font-size: 150%;
  font-weight: 600;
}

img{
  max-width: 100%;
  height: auto;
}