html,body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.thenav{
  padding: 1.5rem;
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
 z-index: 99999;
}

.modal{
  z-index: 999999;
}

.navbar-light .navbar-nav .thenav-link{
  color: black;
}

.navbar-light .navbar-nav .thenav-link:hover{
  color: #00945e;
  font-weight: bolder;
}

.navbar-brand{
  font-size: 1.2rem;
  font-weight: 600;
}

img{
  max-width: 100%;
  height: auto;
}


.welcome{
  color: #00945e;
}

.headers-new{
  margin-top: 7rem;
}


.sub-head{
 /* max-width: 800px;
  width: auto;*/
  font-size: 130%;

}
.about-body{
  background-color: #f7fafe;
  color: #6e7c90;
  padding: 4rem
}

.about-us{
  margin-left: 40%;
  margin-bottom: 2rem;
  color: black;
  font-size: 200%;
}

.modal-head:after{
  content: "";
  display:block;
  height: 4px;
  width: 50px;
  margin-top: 20px;
  background-color: #00945e;
}

.image-stage{
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin: 15px;
  border-radius: 2px;
}

.btn-modified{
    color: #fff;
    padding: 0.4rem 3rem;
    background: #00945E;
    border: none;
    border-radius: 0.3rem;
}

.jumbotron{
  background-image: url(../img/image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
 }

 .lead{
  width: 15rem;
  margin-top: 2%;
 }

 .jumbo-buttons{
  border: 2px solid white;
  background: inherit;
  padding: 0.4rem 3rem;
  margin-left: 50%;
  color:white;
 }

  .jumbo-buttons:hover{
    background-color: white;
    color: black;

  }

  .welcome-img{
    padding: 20px;
  }

#bubbles { height: 100%;
position: absolute;
    z-index: 9999;
}
.bubble {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
  background: white;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 20%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 35%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 47%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 15%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 70%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}








/* contact section */
.contact-text{
  color: #00945e;
  margin: 2rem;
}
.contact-card{
  margin-top: 2rem;
  transition: all 500ms ease;
}
.contact-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}


/* subscribe section */
.home-newsletter {
padding: 80px 0;
background: rgba(0, 148, 94, 0.7);
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: white;
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #323E48;
color: #fff;
}



/* footer */
.full-footer{
  background-color: #323E48;
    color: #ffffff;
}
.aboutus-footer{
  /* display: flex; */
  text-align: center;
  margin-bottom: 30px;
}
.contactus-footer{
  text-align: center;
  margin-bottom: 30px;
}
.line{
  background-color: #ffffff;
  width: 200px;
}

/*copyright section*/
 .copyright{
  background-color: #1F2430;
  color: white;
 }

 .copyright p{
  font-size: 1.2rem;
  margin-top: 0.5rem;
 }

 /* testimonial carousel */
.testimonial{
  padding:50px;
}
.testimonial h3{
  padding: 20px;
}
.testimonial-text{
  padding:20px
}
.testimonial-context{
  text-align: center;
  padding: 20px;
  border:2px solid  #00945e;
  border-radius: 2px;
}
.picture{
  border-radius: 50%;
  border: 2px solid #00945e;
}

/*Business Plan*/

.head-icons{
  color: #00945e;
}

.mid-section{
  color: #999999;
  background-color: #16161a;
  padding: 4rem 0;
  margin-top: 1.5rem;
}

/*newletter*/

/*preloader style*/
.spinner {
  width: 40px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #00945e;
z-index: 99999999999;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}