html,body{
  font-family: 'Lato', sans-serif;
}

.thenav{
  padding: 1.5rem;
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.navbar-light .navbar-nav .thenav-link{
  color: black;
}

.navbar-light .navbar-nav .thenav-link:hover{
  color: #00945e;
  font-weight: bolder;
}

.navbar-brand{
  font-size: 1.2rem;
  font-weight: 600;
}

img{
  max-width: 100%;
  height: auto;
}


.welcome{
  color: #00945e;
}

.headers::after,.modal-head:after{
  content: "";
  display:block;
  height: 4px;
  width: 50px;
  margin-top: 20px;
  background-color: #00945e;
}

.image-stage{
 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin: 15px;
  border-radius: 2px;
}

/* contact section */
.contact-section{
  height: 300px;
  text-align: center;
  color: #323E48;
  background-color: #ffffff;
}
.contact-text{
  color: #00945e;
}
.contact-card{
  height: 200px;
  padding-top: 30px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  margin: 20px;
  border-radius: 5px;
  transition: all 500ms ease;
}
.contact-card:hover{
  transform: translateY(-30px);
  box-shadow: 0 10px 6px -6px #777;;
}

/* subscribe section */
.subscribe{
  background-color: #47977c;
  height: 200px;
  text-align: center;
  color: white;
}

.subscribe-text{
  margin-top: 50px;
}
.subscribe-form{
 margin-top: 50px;
}
.form-input{
  /* width: 400px; */
  width: 100%;
  height: 70px;
  border-radius: 3px;
  border: 1px solid black;
}
.form-button{
  height: 72px;
  width: 120px;
  margin-left: -20px;
  border-radius: 5px;
  color:#ffffff ;
  background-color:#00945e;
}
/* footer */
.full-footer{
  background-color: #323E48;
  color: #ffffff;
}
.aboutus-footer{
  /* display: flex; */
  text-align: center;
  margin-bottom: 30px;
}
.contactus-footer{
  text-align: center;
  margin-bottom: 30px;
}
.line{
  background-color: #ffffff;
  width: 200px;
}

.modal-head{}