html,body{
  font-family: 'Lato', sans-serif;
}

.thenav{
  padding: 1.5rem;
  box-shadow: -1px 11px 15px -2px rgba(224,217,224,0.83);
}

.navbar-light .navbar-nav .thenav-link{
  color: black;
}

.navbar-light .navbar-nav .thenav-link:hover{
  color: #00945e;
  font-weight: bolder;
}

.navbar-brand{
  font-size: 1.2rem;
  font-weight: 600;
}

img{
  max-width: 100%;
  height: auto;
}


h2{
  color: #00945e;
}

.headers::after{
  content: "";
  display:block;
  height: 4px;
  width: 50px;
  margin-top: 20px;
  background-color: #00945e;
}

.image-stage{
  border: 1px solid #00945e;
  margin: 15px;
  border-radius: 2px;
}